<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </configSections>
    <connectionStrings>
        <add name="StudyLabsApp.Properties.Settings.StuddyBuddyDBConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\StuddyBuddyDB.mdf;Integrated Security=True" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <entityFramework>
        <providers>
            <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
        </providers>
    </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WebService1Soap">
          <security mode="Transport" />
        </binding>
        <binding name="WebService1Soap1" />
        <binding name="WebService2Soap">
          <security mode="Transport" />
        </binding>
        <binding name="WebService2Soap1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:44304/WebService1.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService1Soap"
        contract="ServiceReferenceTest.WebService1Soap" name="WebService1Soap" />
      <endpoint address="https://localhost:44304/WebServiceDatabse.asmx"
        binding="basicHttpBinding" bindingConfiguration="WebService2Soap"
        contract="ServiceReferenceDB.WebService2Soap" name="WebService2Soap" />
    </client>
  </system.serviceModel>
</configuration>